@model ChangePasswordVm
@{
    ViewData["Title"] = "變更密碼";
}

<h1 class="h4 mb-3">變更密碼</h1>

<form asp-action="ChangePassword" method="post">
    <div class="mb-3">
        <label asp-for="CurrentPassword" class="form-label"></label>
        <input asp-for="CurrentPassword" class="form-control" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmNewPassword" class="form-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-dark">儲存</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
