<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Meow.web.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sweat On!</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        @* 僅登入者顯示 *@
                        @if (User.Identity?.IsAuthenticated ?? false)
                        {
                            @* 會員（會員中心、變更密碼） *@
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navMember" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    會員
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navMember">
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile">會員中心</a></li>
                                    <li><a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword">變更密碼</a></li>
                                </ul>
                            </li>


                            @* 訓練（課表與影片） *@
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navTraining" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    訓練
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navTraining">
                                    <li><a class="dropdown-item" asp-controller="TrainingSets" asp-action="Index">課表</a></li>
                                    <li><a class="dropdown-item" asp-controller="TrainingVideos" asp-action="Index">影片</a></li>
                                </ul>
                            </li>


                            @* 統計紀錄（我的儀表板、訓練紀錄） *@
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navStats" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    紀錄
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navStats">
                                    <li><a class="dropdown-item" asp-controller="Dashboard" asp-action="Index">我的儀表板</a></li>
                                    <li><a class="dropdown-item" asp-controller="TrainingSessions" asp-action="Index">訓練紀錄</a></li>
                                </ul>
                            </li>


                        }

                        @* 僅管理員顯示 *@
                        @if (User.HasClaim("IsAdmin", "True"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">管理後台</a>
                            </li>
                        }
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        @if (User?.Identity?.IsAuthenticated ?? false)
                        {
                            <li class="nav-item">
                                <span class="navbar-text me-2">Hi, @User.Identity!.Name</span>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Auth" asp-action="Logout" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-link nav-link">登出</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Register">註冊</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Auth" asp-action="Login">登入</a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <div style="margin-bottom:80px"></div>
    </header>

    <div class="container">
        @* 這裡統一顯示頁面提示（Success/Error/Warning/Info） *@
        <partial name="~/Views/Shared/_AlertPartial.cshtml" />

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Sweat On! - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
